<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="brisk_imu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.40.49152" newVersion="19.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <brisk_imu.Properties.Settings>
      <setting name="CheckboxStatus1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckboxStatus2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckboxStatus3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedFrequency" serializeAs="String">
        <value>102.4</value>
      </setting>
      <setting name="_SetSensor" serializeAs="String">
        <value>224</value>
      </setting>
      <setting name="SelectedPlot" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckboxStatusx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckboxStatusy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckboxStatusz" serializeAs="String">
        <value>False</value>
      </setting>
    </brisk_imu.Properties.Settings>
  </userSettings>
</configuration>